<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
<!-- Begin header and nav -->
{% include "header.html" %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="container-xl mt-2">
      {% for message, category in messages %}
            <div class="box-shadow alert alert-{{category}} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</body>

</html>
