{% extends "base.html" %}

{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
        <div class="card bg-light box-shadow">
            <div class="card-header"><h5><i class="fas fa-paper-plane"></i> Reset Password</h5></div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <i class="fas fa-at"></i> {{ form.email.label }}
                        {{ form.email(class_='form-control', size=64) }}
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <hr>
                    {{ form.submit(class='btn btn-lg btn-block btn-primary') }}
                </form>
            </div>
        </div>
        </div>
    </div>
</main>
<!-- Begin footer -->
{% include "footer.html" %}
{% endblock %}