{% extends "base.html" %}


{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
        <div class="card bg-light box-shadow">
            <div class="card-header text-center"><h5>Let's do this...</h5></div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <i class="fas fa-user-tag"></i> {{ form.username.label }}
                        {{ form.username(class_='form-control') }}
                        {% for error in form.username.errors %}
                        <span class="error-message"><i class="fas fa-times"></i> {{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <i class="fas fa-at"></i> {{ form.email.label }}
                        {{ form.email(class_='form-control', size=64) }}
                        {% for error in form.email.errors %}
                        <span class="error-message"><i class="fas fa-times"></i> {{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <i class="fas fa-key"></i> {{ form.password.label }}
                        {{ form.password(class_='form-control') }}
                        {% for error in form.password.errors %}
                        <span class="error-message"><i class="fas fa-times"></i> {{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <i class="fas fa-key"></i> {{ form.password_repeat.label }}
                        {{ form.password_repeat(class_='form-control') }}
                        {% for error in form.password_repeat.errors %}
                        <span class="error-message"><i class="fas fa-times"></i> {{ error }}</span>
                        {% endfor %}
                    </div>
                    <hr>
                    {{ form.submit(class='btn btn-lg btn-block btn-primary') }}
                </form>
            </div>
        </div>
        </div>
    </div>
</main>
<!-- Begin footer -->
{% include "footer.html" %}
{% endblock %}