{% extends "base.html" %}


{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
    <div class="row d-flex justify-content-md-center">
        <div class="col-lg-5">
            <div class="card bg-light box-shadow">
                <div class="card-header">
                    <h3 class="mt-2">Welcome.</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="mb-2 form-floating">
                            {% if form.email.errors %}
                                {{ form.email(class_="form-control is-invalid", id="emailInput", placeholder="name@example.com") }}
                            {% else %}
                                {{ form.email(class_="form-control", id="emailInput", placeholder="name@example.com") }}
                            {% endif %}
                            <label for="emailInput"><i class="fas fa-envelope"></i> Email Address</label>
                            {% for error in form.email.errors %}
                                <span><i class="fas fa-times"></i> {{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="mb-2 form-floating">
                            {{ form.password(class_="form-control", id="passwordInput", placeholder="Password") }}
                            <label for="passwordInput"><i class="fas fa-unlock-alt"></i> Password</label>
                            {% for error in form.password.errors %}
                            <span><i class="fas fa-times"></i> {{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="mb-2 form-floating">
                            {{ form.password_repeat(class_="form-control", id="passwordInput", placeholder="Repeat Password") }}
                            <label for="passwordInput"><i class="fas fa-unlock-alt"></i> Repeat Password</label>
                            {% for error in form.password_repeat.errors %}
                            <span><i class="fas fa-times"></i> {{ error }}</span>
                            {% endfor %}
                        </div>
                        <hr>
                        {{ form.submit(class_="w-100 btn btn-lg btn-primary") }}
                        <hr>
                        <div class="text-center text-muted">
                        <small>Signing up implies that you have read and agree with the<br>
                            <a class="lb-a" href="/">Terms of Services</a> and
                            <a class="lb-a" href="/">Privacy Policy</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</main>
<!-- Begin footer -->
{% include "footer.html" %}

<!-- core js -->
{% include "core_js.html" %}

{% endblock %}